<div class="tsp-form-container">
  <h2>Parâmetros</h2>

  <form [formGroup]="tspForm" (ngSubmit)="sendForm()">
    <div formArrayName="cities" *ngFor="let city of cities.controls; let i=index">
      <div [formGroupName]="i" class="city-row">

        <input formControlName="x" type="number" placeholder="Latitude" required />
        <input formControlName="y" type="number" placeholder="Longitude" required />
        <label class="clean-checkbox">
          <input formControlName="priority" type="checkbox"/>
          <span class="checkmark"></span>
            Prioritário
        </label>
        <input formControlName="demand" type="number" placeholder="Quantidade" required />
        <button type="button" (click)="removeCity(i)" *ngIf="cities.length > 1">Remover</button>
      </div>
    </div>

    <button type="button" (click)="addCity()">Adicionar Cidade</button>
    <button type="submit" [disabled]="!tspForm.valid">Enviar</button>
    <!-- Spinner (só aparece enquanto loading=true) -->
    <div *ngIf="spinnerVisible" class="spinner-container">
      <mat-progress-spinner mode="indeterminate" diameter="40" color="primary"></mat-progress-spinner>
      <p>Aguardando resposta...</p>
    </div>
  </form>
  <div class="graph-container">
    <app-tsp-graph
    *ngIf="routeResult && !spinnerVisible"
    [cities]="this.citiesResposnse"
    [itineraries]="this.itinerariesResponse">
  </app-tsp-graph>
  </div>
</div>
